<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutsu</title>
    <link rel="stylesheet" href="/css/chapter.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/script/chapter.js" defer></script>
    <script>
        fetch('/header.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#header').innerHTML = data;
                import('/script/header.js');
            });
        fetch('/loader.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#loader').innerHTML = data;
            });
    </script>
</head>
<body>
    <div id="loader"></div>
    <div id="header"></div>
    <div id="chapter-page">Chapter Not Found.</div>
    <div id="box-container">
        <div id="left-box"></div>
        <div id="right-box"></div>
    </div>
    <div id="page-number"></div>
</body>
</html>