<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutsu</title>
    <link rel="stylesheet" href="/css/manga.css">
    <link rel="stylesheet" href="/css/style.css">
    <script>
        fetch('/header.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#header').innerHTML = data;
                import('/script/header.js');
            });
        fetch('/loader.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#loader').innerHTML = data;
            });
    </script>
    <script type='module' src="/script/manga.js" defer></script>
</head>
<body>
    <div id="loader"></div>
    <div id="header"></div>
    <div class="main-container">
        <div class="top-container">
            <img id="cover"/>
            <div id="title"></div>
        </div>
        <div id="middle-container">
            <p style="align-self: start; font-size: 24px">Description</p>
            <div class="description-container">
                <div id="shadow-overlay"></div>
                <div id="description-text"></div>
            </div>
            <div id="description-toggle"></div>
        </div>
        <div id="bottom-container">
            No Chapters Found.
        </div>
    </div>
</body>
</html>