<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Manga Reader</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/mangaItem.css"> 
    <script>
        fetch('/header.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#header').innerHTML = data;
                import('/script/header.js');
            });
        fetch('/loader.html')
            .then(res => res.text())
            .then(async data => {
                document.querySelector('#loader').innerHTML = data;
            });
    </script>
    <script type='module' src='/script/search.js' defer></script>
</head>
<body>
    <div id="loader"></div>
    <div id="header"></div>
    <div id="search-nav-bar-top" class="search-nav-bar"></div>
    <div id="search-result"></div>
    <div id="search-nav-bar-bottom" class="search-nav-bar"></div>
</body>
</html>