html {
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position: relative;
}

body {
    overflow: hidden;
    padding-top: 80px;
    height: 100%;
    color: white;
}

#chapter-page {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1024px;
    color: white;
}

#chapter-page img {
    width: 1024px;
}

#box-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
}

#left-box {
    width: 50%;
    background-color: transparent;
    cursor: pointer;
}

#right-box {
    width: 50%;
    background-color: transparent;
    cursor: pointer;
}

#page-number {
    margin: 16px auto;
    width: fit-content;
}